div {
    font-family: "Cambria", sans-serif;
}

body {
    background-image: url(../img/bg.gif);
    background-repeat: repeat;
    margin: 0px;
}

#topContainer {
    width: 100%;
    height: 280px;
    top: 0px;
    left: 0px;
    position: fixed;
    background-image: url(../img/bg.gif)
}

#searchBox {
    width: 189px;
    height: 39px;
    float: right;
    margin-top: 13px;
    margin-right: 6px;
    font-family: "Cambria", sans-serif;
    font-size: 13px;
    color: #5c7598;
    padding-left: 24px;
    padding-right: 6px;
    background-image: url("../img/searchicon.png");
    background-size: 13% auto;
    background-position: left center;
    background-repeat: no-repeat;
    background-color: white;
    border-radius: 10px;
}

#top {
    width: 900px;
    height: 215px;
    margin-top: 58px;;
    margin-left: auto;
    margin-right: auto;
}

#profile {
    width: 550px;
    height: 190px;
    float: left;
    position: fixed;
    display: inline-flex;
    color: #3c4b60;
    border-radius: 10px;
    padding: 0.8%;
    background: rgba(218,218,219,0.7);
    font-size: 14px;
}

#picture {
    background-image: url(../img/dp.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 144px;
    height: 144px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
    border-radius: 50%;
}

#bio {
    width: 384px;
    height: 180px;
    margin-left: 4%;
}

#title {
    width: 384px;
    margin-bottom: 4px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 14px;
}

#name {
    width: 192px;
    font-weight: bold;
}

#username {
    width: 192px;
}

a {
    color: #3c4b60;
    text-decoration: none;
}

a:visited {
    color: #3c4b60;
}

a:hover {
    color: #5c7598;
}

#description {
    width: 384px;
    height: 162;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.desc {
    width: 384px;
    height: 26px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 6px;
}

.icons {
    width: 26px;
    height: 26px;
    margin-right: 12px;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.descText {
    width: 345px;
    height: 26px;
}

#emailIcon {
    background-image: url(../img/emailicon.png);
}

#addressIcon {
    background-image: url(../img/addressicon.png);
}

#phoneIcon{
    background-image: url(../img/phoneicon.png);
}

#websiteIcon {
    background-image: url(../img/websiteicon.png);
}

#companyIcon {
    background-image: url(../img/companyicon.png);
}

#mapContainer {
    float: right;
    width: 318px;
    height: 211px;
}

#map {
    width: 318px;
    height: 211px;
    border-radius: 10px;
}

#spacer {
    height: 280px;
    width: 100%;
    background-image: url(../img/bg.gif);
}

#container {
    width: 900px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#content {
    width: 900px;
    height: 100%;
}

.col {
    width: 443px;
    height: auto;
    margin-bottom: 27px;
    background: rgba(218,218,219,0.6);
}

.next {
    width: 90px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.next:hover, .next:focus, .next:active{
    background-color: rgba(218, 218, 219, 0.2);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.header {
    width: 443px;
    display: block;
    margin: auto;
    margin-bottom: 13px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 17px;
    background-color: #dadadb;
    font-size: 18px;
    font-weight: bold;
    color: #5c7598;
    box-sizing: border-box;
}

#postCon {
    float: left;
}

#albumCon {
    float: right;
}

#posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.post {
    width: 406px;
    height: auto;
    margin-bottom: 22px;
    margin-left: 17px;
    margin-right: 17px;;
    padding: 5%;
    font-size: 15px;
    background: rgba(218,218,219,0.6);
    border-radius: 10px;
}

.postTitle {
    margin-bottom: 11px;
    font-weight: bold;
    color: #3c4b60;
}

.post:hover {
    background: rgba(218,218,219,0.8);
}

.album {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.albumName {
    width: 215px;
    height: auto;
    margin-top: 13px;
    color: #3c4b60;
}

.thumbnail {
    width: 150px;
    height: 150px;
    float: left;
    margin-left: 14px;
    margin-right: 15px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 15px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
}

.thumbnail:hover { 
    background-color: #abb7c8;
    opacity: 1;
    box-shadow: 5px 5px 2.5px #888888;
    transition: 0.3s;
}