div {
    font-family: "Cambria", sans-serif;
}

body {
    background-image: url(../img/bg.gif);
    background-repeat: repeat;
    margin: 0px;
}

#top {
    width: 100%;
    height: 68px;
    top: 0%;
    left: 0%;
    position: fixed;
    display: block;
}

#searchBox {
    width: 189px;
    height: 39px;
    float: right;
    margin-top: 13px;
    margin-right: 6px;
    font-family: "Cambria", sans-serif;
    font-size: 13px;
    color: #5c7598;
    padding-left: 24px;
    padding-right: 6px;
    background-image: url("../img/searchicon.png");
    background-size: 13% auto;
    background-position: left center;
    background-repeat: no-repeat;
    background-color: white;
    border-radius: 10px;
}

#headerCon {
    width: 500px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
}

#header {
    width: 500px;
    height: 100px;
    margin-top: 30px;
    text-align: center;
    position: absolute;
}

#title {
    width: 500px;
    height: 80px;
    margin-top: 20px;
    text-align: center;
    position: absolute;
}

#titlepic {
    height: 80px;
}

#container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 6px;
    padding-bottom: 19px;
}

.profile {
    width: 700px;
    height: 250px;
    margin-bottom: 19px;
    margin-left: auto;
    margin-right: auto;
    display: inline-flex;
    border-radius: 10px;
    padding: 8px;
    background: rgba(218,218,219,0.6);
    color: #3c4b60;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
}

.profile:hover {
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}

.picCon {
    width: 164px;
    height: 164px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 11px;
}

.picture {
    width: 164px
    height: 164px;
    border-radius: 50%;
}


.infoCon {
    width: 484px;
    height: 250px;
    margin-left: 6%;
}

.title {
    width: 484px;
    margin-top: 7px;
    margin-bottom: 7px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.name {
    width: 221px;
    font-weight: bold;
}

.username {
    width: 221px;
}

a {
    color: #3c4b60;
    text-decoration: none;
}

a:visited {
    color: #3c4b60;
}

a:hover {
    color: #5c7598;
}

.description {
    width: 484px;
    height: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 10px;
}

.emailCon {
    width: 484px;
    height: 31px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 6px;
}

.addressCon {
    width: 484px;
    height: 31px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 6px;
}

.phoneCon {
    width: 484px;
    height: 31px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 6px;
}

.websiteCon {
    width: 484px;
    height: 31px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 6px;
}

.companyCon {
    width: 484px;
    height: 31px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 6px;
}

.email {
    line-height: 31px;
    vertical-align: middle;
}

.addr {
    line-height: 31px;
    vertical-align: middle;
}

.phone {
    line-height: 31px;
    vertical-align: middle;
}

.web {
    line-height: 31px;
    vertical-align: middle;
}

.comp {
    line-height: 26px;
    vertical-align: middle;
}

.emailIcon {
    width: 31px;
    height: 31px;
    margin-right: 12px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-image: url(../img/emailicon.png);
}

.addressIcon {
    width: 31px;
    height: 31px;
    margin-right: 12px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-image: url(../img/addressicon.png);
}

.phoneIcon {
    width: 31px;
    height: 31px;
    margin-right: 12px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-image: url(../img/phoneicon.png);
}

.websiteIcon {
    width: 31px;
    height: 31px;
    margin-right: 12px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-image: url(../img/websiteicon.png);
}

.companyIcon {
    width: 31px;
    height: 31px;
    margin-right: 12px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-image: url(../img/companyicon.png);
}

